@font-face {
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  src: url("fonts/helvetica-neue-lt-geo-55-roman-caps.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLTGeo55Roman";
  src: url("fonts/helvetica-neue-lt-geo-55-roman.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLTGeo65MediumCaps";
  src: url("fonts/helvetica-neue-lt-geo-65-medium-caps.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLTGeo75BoldCaps";
  src: url("fonts/helvetica-neue-lt-geo-75-bold-caps.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLTGeo65Medium";
  src: url("fonts/helvetica-neue-lt-geo-65-medium.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLTGeo75Bold";
  src: url("fonts/helvetica-neue-lt-geo-75-bold.ttf") format("truetype");
}

body {
  font-family: "HelveticaNeueLTGeo55RomanCaps", "HelveticaNeueLTGeo55Roman",
    "HelveticaNeueLTGeo65MediumCaps", "HelveticaNeueLTGeo75BoldCaps",
    "HelveticaNeueLTGeo65Medium", "HelveticaNeueLTGeo75Bold", Arial, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-wrapper {
  z-index: 100;
  background-color: white;
  transition: 500ms ease;
  box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  /* height: 100px; */
  align-items: center;
  padding-inline: 140px;
  width: 100%;
}
.logo {
  height: 58px;
  width: 82px;
}
nav ul {
  display: flex;
  gap: 32px;
}
.nav-item {
  padding: 7px 3px;
  opacity: 0.6;
  transition: 550ms ease;
}
.nav-item a {
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 14px;
  color: black;
}
nav ul li img {
  opacity: 0;
  transition: 550ms ease;
}
.nav-item:hover .nav-arc {
  opacity: 1;
}
.nav-item:hover {
  scale: 1.1;
  opacity: 1;
}
.nav-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-langs {
  border: 1px solid rgb(209, 209, 209);
  padding: 5px;
  border-radius: 3px;
  transition: 350ms ease;
  cursor: pointer;
}
.nav-langs:hover {
  background: #034ea2;
  color: white;
}
.nav-socials a:hover {
  scale: 1.1;
}
.openbtn {
  background: #10568f;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 101;
  display: none;
}

.openbtn span {
  position: absolute;
  background: #fff;
  display: inline-block;
  border-radius: 3px;
  left: 14px;
  height: 3px;
  transition: all 0.4s;
  &:nth-of-type(1) {
    top: 15px;
    width: 45%;
  }
  &:nth-of-type(2) {
    top: 23px;
    width: 35%;
  }
  &:nth-of-type(3) {
    top: 31px;
    width: 20%;
  }
}

.openbtn.active span {
  &:nth-of-type(1) {
    width: 45%;
    top: 18px;
    left: 14px;
    transform: translateY(6px) rotate(-135deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    width: 45%;
    top: 30px;
    left: 14px;
    transform: translateY(-6px) rotate(135deg);
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("images/people-taking-part-h.jpeg");
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}
#hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #034ea2;
  opacity: 0.55;
}
#hero main,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 170px;
  z-index: 5;
  transition: 500ms;
}
.content {
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  max-width: 660px;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  gap: 15px;
  font-size: 22px;
  opacity: 1;
}
.content h1 {
  font-size: 50px;
  line-height: 55px;
}

.countdown {
  display: flex;
  color: white;
  justify-content: center;
  max-width: 550px;
  width: 100%;
  gap: 20px;
}
.countdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.103);
}
.countdown-item:nth-child(1) {
  border: none;
}
.countdown-item img {
  align-self: flex-end;
}
.countdown-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown-label {
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}
#hero main button {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  background: #034ea2;
  filter: drop-shadow(3px 6px 7.5px rgba(0, 0, 0, 0.05));
  padding: 25px 0px;
  border: none;
  color: white;
  margin-top: -150px;
  font-size: 18px;
  cursor: pointer;
  transition: 360ms ease;
}
#hero main button:hover {
  background: #0db1e6;
}

.popup {
  position: absolute;
  background-color: #034ea2;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: 1200ms ease;
  top: -100%;
}
.open-popup {
  top: 50%;
}
.popup form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  gap: 20px;
}
.popup form input {
  width: 100%;

  border: 1px solid #0072d8;
  padding: 10px 12px;
  border-radius: 10px;
  background: none;
  color: white;
}
.popup form input:focus {
  outline: none;
}
.popup form input::placeholder {
  color: #0072d8;
}
.popup button {
  width: 100%;
  border-radius: 10px;
  background: #0072d8;
  filter: drop-shadow(3px 6px 7.5px rgba(0, 0, 0, 0.05));
  padding: 15px 12px;
  border: none;
  color: white;

  font-size: 18px;
  cursor: pointer;
  transition: 360ms ease;
}
.popup button:hover {
  scale: 1.01;
  background-color: #0db1e6;
}
.exit-popup {
  background: red;
  /* text-align: center; */
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #d3d0d0;
  color: #034ea2;
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  cursor: pointer;
}

/*/////

////// project sectio //////


//// */

#project {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 110px 220px;
  padding-bottom: 50px;
  gap: 180px;
  overflow-x: hidden;
}

.proj-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 145px;
}
.proj-top-left,
.proj-top-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 77px;
}
.proj-top-left {
  max-width: 562px;
  width: 100%;
}
.proj-top-right {
  max-width: 662px;
  width: 100%;
}

.proj-top-left .header {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.proj-top-left .header img {
  width: 40px;
  height: 40px;
}
.proj-top-left-content,
.proj-top-right-content {
  background: #e6e7e882;
  padding: 29px 21px;
  border-radius: 20px;
  font-family: "HelveticaNeueLTGeo55Roman";
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
}
.proj-top-left-content h4 {
  text-align: center;
  margin-bottom: 7px;
  margin-top: 7px;
}

.proj-top-right {
  margin-top: 210px;
}

.proj-top-right-header {
  display: flex;
  justify-content: space-between;
  font-family: "HelveticaNeueLTGeo55Roman";
  font-size: 14px;
  font-weight: normal;

  font-style: normal;
  text-align: left;
  color: #525252;
  position: relative;
}
.proj-top-right-header h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.stars {
  position: relative;
  top: 0;
  right: 0;
  margin-top: -75px;
}
.stars img:nth-child(2) {
  position: absolute;
  top: 15px;
  left: 45px;
}
.stars img:nth-child(3) {
  position: absolute;
  top: 50px;
  left: 75px;
}
.stars img:nth-child(3) {
  /* margin-bottom: 125px; */
}

.proj-bottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px;
}
.proj-bottom-header {
  display: flex;
  gap: 10px;
  font-size: 34px;
  color: #000000;
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  margin-bottom: 10px;
}
.proj-organization {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 12.5px rgba(167, 169, 172, 0.15);
  padding: 46px 60px;
  border-radius: 20px;
  font-family: "HelveticaNeueLTGeo55Roman";
  font-size: 14px;
  min-height: 230px;
  background: white;
}
.proj-organization .right {
  border-left: 1px solid #e6e7e8;
  padding-left: 50px;
  height: 100px;
}
.proj-organization .left {
  padding-right: 80px;
}

.proj-texture {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
  left: 0;
  background-color: #034ea2;
  z-index: -2;
}
.proj-texture img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 
////////////////////////////////////////////////
 ////////////////////////////////////////////////
conference
////////////////////////////////////////////////
////////////////////////////////////////////////
*/

#conference {
  display: flex;
  position: relative;

  flex-direction: column;

  padding: 110px 220px;
  padding-bottom: 50px;
  gap: 65px;
}
.conference-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 28px;
  font-weight: normal;
}
.conference-header div {
  display: flex;
  gap: 15px;
}
.conference-header span {
  font-size: 14px;
  margin-left: 60px;
  color: #525252;
}
.conference-header img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.conference-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.conference-content p {
  max-width: 260px;
  width: 100%;
  padding: 10px;
  border: 1px solid #0072d8;
  height: 300px;
  border-radius: 20px;
  vertical-align: center;
  padding-top: 55px;
  transition: 350ms ease;
  cursor: pointer;
}
.conference-content p:hover {
  background: #0072d8;
  color: white;
}
.conference-schedule {
  display: flex;
  gap: 130px;
  overflow: hidden;
}
.conference-schedule-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 530px;
  width: 100%;
  background: #034ea2;
  border-radius: 20px;
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 20px;
  padding: 15px 20px;
  padding-right: 60px;
  color: #0db1e6;
  font-weight: bold;
}
.conference-schedule-left h5 {
  color: white;
  padding: 10px 5px;
  border-bottom: 1px solid #0db1e6;
  font-size: 18px;
  font-weight: 300;
}
.conference-date {
  display: flex;
  align-items: center;
  gap: 15px;
}
.conf-date-seperator {
  padding-left: 15px;
  border-left: 1px solid #0db1e6;
}
.conference-date img {
  width: 30px;
  height: 30px;
}
.location-name {
  font-size: 15px;
  border: none;
}
.conference-schedule-right {
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 14px;
}

/* 
////////////////////////////////////////////////
 ////////////////////////////////////////////////
agenda
////////////////////////////////////////////////
////////////////////////////////////////////////
*/
#agenda {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 110px 220px;
  padding-bottom: 50px;
  overflow-x: hidden;
  gap: 65px;
}

.agenda-header {
  display: flex;
  align-items: center;
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 34px;
  gap: 16px;
  font-weight: normal;
}
.agenda-header img {
  width: 38px;
  height: 39px;
}
.agenda-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 82px;
  padding: 20px;
  margin-top: 62px;
}
.agenda-content h2 {
  margin-left: 30%;
  align-self: flex-start;
  font-weight: 600;
  color: #0072d8;
  font-size: 34px;
}
.agenda-subject {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.agenda-subject li {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: "HelveticaNeueLTGeo55Roman";
  font-size: 14px;
  transition: 350ms ease;
  cursor: pointer;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}
.agenda-subject li span {
  font-size: 16px;
  transition: 250ms ease;
  color: #d3d0d0;
}
.agenda-list:hover {
  scale: 1.5;
  background: #0072d8;
  color: white;
}

.agenda-subject-arc-top {
  position: absolute;
  top: -175px;
  left: -175px;
  width: 235px;
  height: 235px;
  rotate: 360;
}
.agenda-subject-arc-bottom {
  position: absolute;
  right: -205px;
  bottom: -125px;
  width: 235px;
  height: 235px;
}
.agenda-desc {
  max-width: 900px;
  width: 100%;
  margin-top: 60px;
}
.agenda-sponsors {
  display: flex;
  gap: 50px;
  align-items: center;
}
#contacts {
  padding: 110px 220px;
  height: 100vh;

  width: 100%;
  overflow-y: hidden;
  position: relative;
  display: flex;
}
#contacts::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #034ea2;
  opacity: 0.25;
  z-index: 10;
}
.carousel {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;

  transition: 750ms ease;
}

.carousel-item {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: block;
}
.carousel-btns {
  display: flex;
  gap: 10px;

  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}
.carousel-btn {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background: #7fc4fd;
  transition: 350ms ease;
  z-index: 11;
  cursor: pointer;
  border: none;
}
.active-bullet {
  background: #007feb;
}
.contacts-content {
  z-index: 10;
  color: white;
  font-family: "HelveticaNeueLTGeo55Roman";
  font-size: 16px;
}
.contacts-content header {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "HelveticaNeueLTGeo55RomanCaps";
  font-size: 34px;
  font-weight: bold;

  margin-bottom: 44px;
}
.contacts-content header img {
  width: 39px;
  height: 38px;
  filter: brightness(10000%);
}
#contacts ul li {
  margin-bottom: 25px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #034ea2;
  padding: 60px 100px;
  font-family: "HelveticaNeueLTGeo55Roman";
  font-size: 14px;
  gap: 60px;
  height: 200px;
  width: 100%;
  color: white;
}

footer ul {
  border-inline: 1px solid rgba(255, 255, 255, 0.596);
  padding-left: 20px;
  padding-right: 20px;
  height: 200px;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
}
footer ul li a {
  color: rgba(255, 255, 255, 0.596);
  padding: 10px 2px;
  cursor: pointer;
  max-width: 160px;
  width: 100%;
  transition: 350ms ease;
}
footer ul li a:hover {
  color: rgb(255, 255, 255);
}
.footer-center {
  display: flex;
  max-width: 500px;
  width: 100%;

  justify-content: space-between;
}
.footer-socials {
  display: flex;
  align-items: center;
}
.footer-socials a:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.596);
  padding-left: 10px;
  margin-left: 10px;
}
.scroll-up {
  background: #0072d8;
  width: 200px;
  rotate: -90deg;
  text-align: center;
  vertical-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.scroll-up a {
  height: 100%;
  margin-top: -7px;
  cursor: pointer;
  color: white;
}
.scroll-up img {
  rotate: 90deg;
  width: 12px;
  height: 12px;
}

@media (width < 1550px) {
  #project,
  #agenda,
  #conference {
    padding: 110px 140px;
  }
  .proj-top {
    gap: 40px;
  }
  .proj-organization {
    padding: 24px 30px;
  }
  .proj-organization .left {
    padding-right: 40px;
  }
  footer {
    padding: 60px 20px;
    gap: 30px;
  }
}
@media (width < 1350px) {
  .agenda-subject-arc-top,
  .agenda-subject-arc-bottom {
    width: 175px;
    height: 175px;
  }
  .agenda-subject-arc-top {
    top: -125px;
    left: -125px;
  }

  .agenda-subject-arc-bottom {
    right: -135px;
  }
  .agenda-content {
    gap: 40px;
  }
}
@media (width < 1240px) {
  #project,
  #agenda,
  #conference {
    padding: 110px 40px;
  }
  footer p {
    gap: 10px;
    font-size: 11px;
  }
  #agenda {
    padding-top: 50px;
  }
  .agenda-content {
    gap: 20px;
    padding: 0;
  }
  .navigation {
    padding-inline: 30px;
  }
  nav ul {
    display: flex;
    gap: 10px;
  }
  .proj-top p {
    font-size: 14px;
  }
  .proj-top-left .header p {
    font-size: 32px;
  }
  .agenda-subject-arc-top,
  .agenda-subject-arc-bottom {
    width: 115px;
    height: 115px;
  }
  .agenda-subject-arc-top {
    top: -75px;
    left: -75px;
  }

  .agenda-subject-arc-bottom {
    right: -75px;
    bottom: -55px;
  }
}
@media (width < 1040px) {
  #project,
  #agenda,
  #conference {
    padding: 110px 40px;
  }
  .footer-center {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .navigation {
    padding-inline: 30px;
  }
  nav ul {
    display: flex;
    gap: 15px;
  }
  .proj-top p {
    font-size: 14px;
  }
  .proj-top-left .header p {
    font-size: 32px;
  }
  .agenda-subject li {
    gap: 15px;
  }
  .agenda-list p {
    font-size: 12px;
  }
  .agenda-sponsors {
    gap: 0;
  }
}

@media (width < 969px) {
  #project,
  #agenda,
  #conference {
    padding: 70px 20px;
  }
  #hero {
    height: 100vh;
  }
  .proj-top {
    flex-direction: column;
    gap: 0;
  }
  .proj-top-left,
  .proj-top-right {
    gap: 20px;
  }
  .proj-top-right {
    margin-top: 90px;
  }
  .countdown {
    gap: 0px;
    justify-content: center;
  }
  .countdown-item {
    font-size: 14px;
  }
  .countdown-label {
    font-size: 18px;
  }
  #hero main button {
    width: 350px;
  }

  .navigation {
    padding-inline: 15px;
  }
  nav ul {
    display: flex;
    gap: 12px;
  }
  .proj-top p {
    font-size: 14px;
  }
  .proj-top-left .header p {
    font-size: 32px;
  }
  #contacts {
    padding: 110px 100px;
  }
}

@media (width < 906px) {
  .openbtn {
    display: block;
  }
  #project,
  #agenda,
  #conference {
    padding: 70px 20px;
  }
  footer {
    gap: 0;
  }
  footer ul {
    margin-left: 10px;
  }
  .nav-wrapper {
    position: sticky;
    height: 0;
    top: 0;
    left: -100%;
    transition: 550ms ease;
  }
  .navigation {
    position: absolute;

    height: 100vh;
    width: 250px;
    padding: 50px 0;

    flex-direction: column;
    background: white;
    transition: 550ms ease;

    transform: translate(-255px, 50%);
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .nav-item {
    width: 100%;
  }
  .nav-arc {
    opacity: 1;
  }
  .nav-item a {
    width: 100%;
    height: 100%;
  }
  .proj-top p {
    font-size: 14px;
  }
  .proj-top-left .header p {
    font-size: 32px;
  }
  #contacts {
    padding: 110px 100px;
  }
  .toggle-nav {
    transform: translate(0, 50%);
    height: 100vh;
    transition: 550ms ease;
  }
}

@media (width < 888px) {
  .conference-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .conference-content p {
    max-width: 500px;
    height: 80px;
    padding-top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .proj-organization {
    flex-direction: column;
    padding: 12px 15px;
  }
  .proj-organization .left {
    padding: 0;
  }
  .proj-organization .right {
    padding: 0;
    border: none;
  }
  .conference-schedule {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .conference-schedule-right {
    padding-inline: 150px;
  }
  .agenda-subject {
    width: 80%;
  }
}

@media (width < 780px) {
  #project,
  #agenda,
  #conference {
    padding: 20px 40px;
  }
  footer {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    position: relative;
    gap: 10px;
  }
  .footer-center {
    align-items: flex-start;
    gap: 15px;
  }
  footer ul {
    border: none;
    align-items: flex-start;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.596);
    border-bottom: 1px solid rgba(255, 255, 255, 0.596);
  }
  .scroll-up {
    position: absolute;
    right: 0;
    top: 26.5%;
    transform: translate(-50%, -50%);
  }
  .agenda-sponsors {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .conference-schedule-right {
    padding-inline: 70px;
  }
}

@media (width< 550px) {
  .stars {
    margin-top: -45px;
    margin-left: -55px;
  }
}

@media (width < 480px) {
  #hero main {
    gap: 70px;
  }
  #project,
  #agenda,
  #conference {
    padding: 20px 15px;
  }
  #hero main button {
    margin-top: 0;
  }
  #agenda {
    gap: 0;
  }
  #contacts {
    padding: 20px;
  }
  .content {
    font-size: 14px;
    padding: 10px;
  }
  #hero h1,
  .proj-top-left .header p,
  .proj-top-right h1,
  .proj-bottom-header p,
  .conference-header p,
  .agenda-header p,
  .contacts-content header p,
  .agenda-content h2 {
    font-size: 24px;
  }
  .agenda-subject {
    width: 100%;
  }
  .agenda-subject li {
    font-size: 12px;
    padding: 5px;
  }
  .agenda-subject-arc-top,
  .agenda-subject-arc-bottom {
    width: 80px;
    height: 80px;
  }
  .agenda-subject-arc-top {
    left: -35px;
    top: -50px;
  }
  .agenda-subject-arc-bottom {
    bottom: -55px;
    right: -35px;
  }
  .conference-schedule-right {
    padding-inline: 20px;
  }
  .carousel-btn {
    width: 20px;
    height: 20px;
  }
  .carousel img {
    background-size: cover;
  }
  .conference-content p {
    padding: 5px;
    font-size: 14px;
  }
  #contacts ul li {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .agenda-desc {
    padding: 10px;
    font-size: 14px;
  }
  .agenda-sponsors {
    padding: 10px;
  }
  .countdown-item img {
    width: 20px;
    /* height: 20px; */
  }
  #hero main button {
    max-width: 300px;
    font-size: 16px;
    font-weight: bold;
  }
  form {
    padding: 10px 20px;
  }
  .popup {
    width: 100%;
    height: 100%;
    z-index: 102;
    border-radius: 0;
  }
  .content h1{
    line-height: 35px;
  }
}
@media (width < 385px) {
  #agenda {
    padding: 10px 0;
  }
  .countdown-item {
    padding-left: 5px;
  }
  .proj-top-right-header h1 {
    width: 100px;
  }
  .stars {
    margin-left: 0px;
  }
  .agenda-sponsors {
    padding: 10px;
  }
  .agenda-sponsors img {
    width: 100%;
  }
  .agenda-sponsors img:nth-child(3) {
    width: 100px;
  }
  #contacts ul li {
    margin-bottom: 8px;
    font-size: 12px;
  }
}
